@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body, html {

}

#logo {
  margin: 30px 30px 20px;
  max-width: 100px;
}

.title {
  margin-top: 30px;
  font-size: 50px;
}

.title-primary {
  width: 100%;
  text-transform: uppercase;
  font-family: 'Inconsolata', monospace;
}

.title-secondary {
  font-family: 'Inconsolata', monospace;
  color: #000;
  font-size: 25px;
}

.title-secondary::after {
  content: '';
  display: block;
  background-color: #682ab4;
  height: 2px;
  position: absolute;
  right: 0;
  left: 0;
  margin: 15px auto;
  width: 35%;
}

.inline {
  display: inline-block;
}

.primary-color {
  background-color: #682AB4;
}

.hr-middle {
  height: 2px;
}

h3 {
  color: #ddd;
}

.vhiden {
  visibility: hidden;
}
